.App {
  text-align: center;
  background-color: #F68F8F;
}
#default{
  text-align: center;
}
#img1{
  width:30%;
}
#title{
  font-style: normal;
  color:#137658
}
#loginBut{
  background-color: #137658;
  border-radius: 40%;
}
#Logo{
  height:5%;
}

body{
  background-color: #e2e2e2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

span {
  margin: 0  5px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}
#search{
  text-align: center;
}
#searchFriend{
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
