#logo{
    max-width:30%;
    margin-top: 0;
    top: 50%;
}
#rightTool{
    float:right;
    width:33%;
}
#rightItems{
    float:right;
}

#leftTool{
    float:left;
    width:33%;
}
#midTool{
    float:left;
    width:33%;
}

#MenuLogo{
    display: flex;
    align-items: space-between;
}
#toolbar{
    max-height:10%;
    justify-content: center;
}

#loginButton{
    color: #3E6765;
}
#RegistrationButton{
    color: #3E6765;
}

.job{
    background-color: whitesmoke;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #3E6765;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.job:hover {
    background-color: rgb(180, 180, 180);
  }